<div class="horizontal-bar-container bottom">
    <div class="horizontal-bar-buttongroup equidist-buttongroup-container">
        <a id="filter-selection-all" class="equidist-button"><i>All</i></a>
        <a id="filter-selection-features" class="equidist-button"> <i class="fa fa-filter fa-1x"></i></a>
        <a id="filter-selection-favs" class="equidist-button"> <i class="fa fa-star fa-1x"></i></a>
        <a id="homepage-toggle" class="equidist-button"> <i class="fa fa-location-arrow fa-1x"></i></a>
    </div>
</div>
