$pageBackgroundColor: #fff;
$navBarTextColor: #fff;
$fromeDark: #04422C;
$fromeLight: #B6CF33;
$bristolLight: #A93A70;

$navBarHoverColor: $fromeDark;
//$navBarHoverColor: #258ecd;
$navBarBorderColor: $fromeDark;
//$navBarBackgroundColor: #47a3da;
$navBarBackgroundColor: $fromeDark;
$navBarAnchorBackgroundColor: $fromeDark;
$iconColor: #454545;
$bottomMenuListToggleBackgroundColor: $fromeLight;

$starColor: #FFDF0D;