$navbarTop: 0px;

$baseFontSize: 16px;

$toolBarHeight: $baseFontSize*3;

$toolBarContentPadding: $baseFontSize*0.5;

$pagePaddingTop: $toolBarHeight ;
$paddingBottom: $toolBarHeight ;
$fontBaseSize: $baseFontSize;
$fontTopMenuSize: $baseFontSize;
$fontSize: $baseFontSize;
$buttonHeight: $toolBarHeight;

$canvasHeight: 100%;


$pageLeftPadding: 15px;

$pageWidth: 100%;