<nav class="horizontal-bar-container undertop">
    <div class="horizontal-bar-buttongroup">
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
    </div>
</nav>
<div class="welcome">


    <div class="welcomeBody">

        <a id="finishLater" class="close float-right"><i class="fa fa-2x fa-times"></i></a>

        <div class="welcomeMessage" id="welcomeOverlayMessage">
            <h2 id="welcomeOverlayHello">Hello {{username}},</h2>

            <p>Thank you for downloading the Greendoors app. Please take a moment to read through the instructions to
                take advantage of everything the app has to offer.</p>
        </div>


        <ul class="clearfix newMenu">
            <li>
                <div class="confirmation cloud-only ">
                    <p><a id="nextView">Next <i class="fa fa-chevron-right"></i></a></p>
                </div>
            </li>
        </ul>
    </div>


</div>
<nav class="horizontal-bar-container abovebottom">
    <div class="horizontal-bar-buttongroup">
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
    </div>
</nav>
