<nav class="horizontal-bar-container undertop">
    <div class="horizontal-bar-buttongroup">
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
    </div>
</nav>
<div class="welcome">


    <div class="welcomeBody final">
        <a id="finishLater" class="close float-right"><i class="fa fa-2x fa-times"></i></a>

        <div class="welcomeMessage" id="welcomeOverlayMessage ">
            <ul class="iconList">
                <li>
                    <i class="topcoat-icon fa-star fa fa-2x"></i>
                    Save to Favourites<sup>1</sup></li>
                <li><i class="topcoat-icon fa-file fa fa-2x"></i>Take Notes<sup>1</sup></li>
                <li><i class="topcoat-icon fa fa-envelope-o fa-2x"></i> Contact a Householder<sup>1</sup></li>
                <li><i class="topcoat-icon road-icon fa fa-road fa-2x"></i>Get Routing Information<sup>2</sup></li>
                <li><i class="topcoat-icon fa fa-map-marker fa-2x"></i>Centre the map<sup>2</sup></li>
            </ul>
        </div>


        <ul class="clearfix newMenu">
            <li>
                <div class="confirmation cloud-only">
                    <p>
                        <!--<input type="submit" name="next" id="previousView" value="Previous" class="button">-->
                        <a id="previousView"><i class="fa fa-chevron-left"></i> Previous</a>
                    </p>
                </div>
            </li>
            <li>
                <div class="confirmation cloud-only ">
                    <p><a id="startApp">Start App <i class="fa fa-chevron-right"></i></a></p>
                </div>
            </li>
        </ul>
    </div>

</div>

<div class="welcomeFootnote">
    <p><sup>1</sup> Only available if you have registered Greendoors.</p>

    <p><sup>2</sup> Only available with network connection.</p>
</div>