<div class="welcome">

    <nav class="horizontal-bar-container top">
        <div class="horizontal-bar-buttongroup">
            <a class="equidist-button"><i class="fa fa-chevron-left fa-2x"></i></a>
            <a class="equidist-button"><i class="fa fa-qrcode fa-2x"></i></a>
            <a class="equidist-button">Edit Filter</a>
            <a class="equidist-button"> <i class="fa fa-lightbulb-o fa-2x"></i></a>
        </div>
    </nav>

    <nav class="horizontal-bar-container undertop">
        <div class="horizontal-bar-buttongroup">
            <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
            <a class="equidist-button"> <i class="fa fa-circle"></i></a>
            <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
            <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        </div>
    </nav>

    <div class="welcomeBody">
        <a id="finishLater" class="close float-right"><i class="fa fa-2x fa-times"></i></a>

        <div class="welcomeMessage" id="welcomeOverlayMessage">
            <h2 id="welcomeOverlayHello">SCAN AND SAVE</h2>

            <p>Use this button to scan the QR codes at participating houses to save information to your personalised
                report. This is only available if you have registered Greendoors.</p>
        </div>

        {{> welcome/navigation }}
    </div>


</div>
<nav class="horizontal-bar-container abovebottom">
    <div class="horizontal-bar-buttongroup">
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
    </div>
</nav>