<nav class="horizontal-bar-container undertop">
    <div class="horizontal-bar-buttongroup">
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
    </div>
</nav>
<div class="welcome">


    <div class="welcomeBody">
        <a id="finishLater" class="close float-right"><i class="fa fa-2x fa-times"></i></a>

        <div class="welcomeMessage" id="welcomeOverlayMessage">
            <h2 id="welcomeOverlayHello">VIEW MODE: ALL</h2>

            <p>View all the properties participating in Frome Open Homes.</p>
        </div>

        {{> welcome/navigation }}
    </div>

    <nav class="horizontal-bar-container abovebottom">
        <div class="horizontal-bar-buttongroup">
            <a class="equidist-button"> <i class="fa fa-circle"></i></a>
            <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
            <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
            <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        </div>
    </nav>
    <nav class="horizontal-bar-container bottom">
        <div class="horizontal-bar-buttongroup equidist-buttongroup-container">
            <a class="equidist-button"><i>All</i></a>
            <a class="equidist-button"> <i class="fa fa-filter fa-1x"></i></a>
            <a class="equidist-button"> <i class="fa fa-star fa-1x"></i></a>
            <a class="equidist-button"> <i class="fa fa-location-arrow fa-1x"></i></a>
        </div>
    </nav>

</div>