<nav class="horizontal-bar-container undertop">
    <div class="horizontal-bar-buttongroup">
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
        <a class="equidist-button"> <i class="fa fa-circle-o"></i></a>
    </div>
</nav>
<div class="welcome">


    <div class="welcomeBody">
        <a id="finishLater" class="close float-right"><i class="fa fa-2x fa-times"></i></a>

        <div class="welcomeMessage" id="welcomeOverlayMessage">
            <h2 id="welcomeOverlayHello">ALMOST DONE</h2>

            <p>Click on a house to see an overview of the measures installed, the level of disruption involved, and the
                cost. You also have the opportunity to ...</p>
        </div>


        {{> welcome/navigation }}
    </div>

    <!--<nav class="horizontal-bar-container abovebottom">-->
    <!--<div class="horizontal-bar-buttongroup">-->
    <!--<a class="equidist-button"> <i class="fa fa-circle-o"></i></a>-->
    <!--<a class="equidist-button"> <i class="fa fa-circle-o"></i></a>-->
    <!--<a class="equidist-button"> <i class="fa fa-circle-o"></i></a>-->
    <!--<a class="equidist-button"> <i class="fa fa-circle-o"></i></a>-->
    <!--</div>-->
    <!--</nav>-->

</div>