<ul class="clearfix newMenu">
    <li>
        <div class="confirmation cloud-only">
            <p>
                <!--<input type="submit" name="next" id="previousView" value="Previous" class="button">-->
                <a id="previousView"><i class="fa fa-chevron-left"></i> Previous</a>
            </p>
        </div>
    </li>

    <li>
        <div class="confirmation cloud-only ">
            <p><a id="nextView">Next <i class="fa fa-chevron-right"></i></a></p>
        </div>
    </li>
</ul>