<div id="login-view" class="scroll-wrapper">
    <div class="scroll-content">
        <!--<div class="scroll">-->
        <!--<div class="centered-image">-->
        <!--<img src="img/login.png" width="320">-->
        <!--</div>-->
        <div class="login-header">
            <img src="img/logo.gif" class="login-logo" width="50">

            <h2 class="login-title">Greendoors</h2>
        </div>
        <div id="password-reset-form" class="form" parsley-validate parsley-bind>

            <p>Forget your username or password? Enter the email address you registered with below and instructions for
                resetting your account will be sent to you.
            </p>

            <input type="email" id="email-reset-tf" class="email-tf topcoat-text-input" autocorrect="off"
                   parsley-type="email" parsley-trigger="change" placeholder="Email"
                   pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$"
                   autocapitalize="off" required/>

        </div>
        <div>
            <button id="pw-reset-cancel" class="topcoat-button">Back</button>
            <button id="password-reset-button" class="topcoat-button--cta"> Reset</button>
        </div>

    </div>
</div>