<div id="registration-reminder-view">
    <div class="scroll-content">
        <div class="login-header">
            <img src="img/logo.gif" class="login-logo" width="50">

            <h2 class="login-title">Greendoors</h2>
        </div>

        <div class="disclaimer">Registration allows you to save houses for future reference, contact home owners, and
            use QR
            codes to get a personalised report about retrofitting measures. You’ll also avoid seeing this screen again.
        </div>

        <div class="field-container-longtext">
            <label for="reg-remind-reg-button">You convinced me, I’ll </label>
            <button id="reg-remind-reg-button" class="topcoat-button--cta">Register</button>

        </div>

        <div class="field-container-longtext">

            <label for="reg-remind-guest-button">No thanks, just the</label>
            <button id="reg-remind-guest-button" class="topcoat-button">Basic App</button>
        </div>
    </div>
</div>