<nav id="background-activity" class="message-bar-container">
    <div>
        <button id="message-bar-dismiss-button" class=""><i class=" fa fa-remove fa-2x"></i></button>
        <div class="message">
            <i class=" fa fa-spinner fa-spin fa-large"></i>
            {{message}}
        </div>
    </div>
</nav>