<div class="contact-dialog" class="scroll-wrapper">
    <div class="scroll-content">

        <div class="topcoat-overlay-bg"></div>
        <aside class="topcoat-overlay">
            <h1>Contact</h1>

            <div class="topcoat-overlay-buttons">
                <button role="button" class="message-cancel topcoat-button">Cancel</button>
                <button data-id="{{id}}" data-role="button" id="send-message-button"
                        class="send-message topcoat-button--cta is-disabled">Send
                </button>
            </div>

            <textarea class="message-text topcoat-textarea" rows="7" cols="17"
                      placeholder="Enter Message for Householder here."></textarea>

        </aside>
    </div>
</div>