<div id="contact-view" class="text-area-view scroll-wrapper">
    <div class="scroll-content" parsley-validate parsley-bind>
        <h1>Contact</h1>

        <div class="topcoat-overlay-buttons">
            <button id="message-cancel-button" role="button" class="topcoat-button">Cancel</button>
            <button id="send-message-button" data-role="button"
                    class="topcoat-button--cta" disabled>Send
            </button>
        </div>

        <textarea id="message-text" rows="7" cols="17"
                  placeholder="Enter Message for Householder here. 2000 char max"
                  parsley-maxlength="2000"></textarea>

    </div>
</div>
