<div class="popout">
    <div class="topcoat-overlay-bg"></div>
    <!--<a class="topcoat-icon-button--quiet close-popout">-->
    <!--<i class="fa fa-times fa-2x"></i>-->
    <!--</a>-->
    <aside class="topcoat-overlay">
        <h1>Disruption</h1>


        <p>These values are self-reported by house holders and thus vary.</p>


    </aside>
</div>