<div id="guest-mode-disclaimer">
    <div class="topcoat-overlay-bg"></div>
    <aside class="topcoat-overlay">
        <h1>Login Required</h1>

        <p>This function will help you collect additional information.</p>

        <p>In order for this to work you must be registered.</p>

        <div class="topcoat-overlay-buttons">
            <button role="button" class="dialog-close topcoat-button">Cancel</button>
            <button role="button" id="login-register-button" class="login-register-button topcoat-button--cta">
                Register
            </button>
        </div>
    </aside>
</div>