<div id="list-main-view" class="scroll-wrapper">
    <div class="scroll-content">

        <ul class="house-list">
            <div id="daysFilterHook"></div>
            <!--subview-->
            <li id="empty-list-placeholder">Unfortunately no properties meet this requirement.</li>
        </ul>
    </div>
</div>