<div class="popout">
    <div class="topcoat-overlay-bg"></div>
    <aside class="topcoat-overlay">
        <h1>{{name}}</h1>
        <!--<a class="topcoat-icon-button--quiet close-popout">-->
        <!--<i class="fa fa-times fa-2x"></i>-->
        <!--</a>-->


        <p>{{description}}</p>


    </aside>
</div>