<div class="waitScreen">
    <div class="waitMessage">
        <h1 class="wait-header">{{header}}</h1>

        <p class="wait-message">{{message}}</p>


        <button id="start">Try Again</button>


    </div>
</div>