<div id="popup-message" class="message-bar-container">
    <button id="message-bar-dismiss-button"><i class="fa fa-remove fa-2x"></i></button>
    <div class="message">
        {{message}}
    </div>
</div>