<div class="waitScreen">
    <div class="waitMessage">
        <h1 class="wait-header">{{header}}</h1>

        <p class="wait-message">{{message}}</p>


        <div class="spinner"><i class="fa fa-spinner fa-spin"></i></div>


    </div>
</div>