<div id="routes-main" class="scroll-wrapper">
    <div class="scroll-content menu">
        <button class=" topcoat-button" onclick="window.location.hash='#routes/lists/favourites'">Favourites</button>
        <button class=" topcoat-button" onclick="window.location.hash='#routes/lists/filtered'">Filtered</button>
        <button class=" topcoat-button" onclick="window.location.hash='#routes/lists/all'">From All</button>
    </div>
</div>
