<div id="routes-pointselection">
    <!-- place for pointmap -->
    <div id="routemap-buttons" class="menu">
        <button class="topcoat-button" onclick="window.location.hash='#routes'">Cancel</button>
    </div>
</div>

