<div id="routes-namesearch">
    <!-- place for pointmap -->
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">

    <div id="routemap"></div>
    <div id="routemap-buttons" class="menu">
        <button class="topcoat-button" onclick="window.location.hash='#routes'">Cancel</button>
    </div>
</div>

