<div id="routes-mapplanning" class="menu">
    <h1>end</h1>
    <button class="topcoat-button" onclick="window.location.hash='#routes/position/end'">My Position</button>
    <button class="topcoat-button" onclick="window.location.hash='#routes/pointonmap/end'">Point on Map</button>
    <button class="topcoat-button" onclick="window.location.hash='#routes/search/end'">Search Address</button>
    <button class="topcoat-button" onclick="window.location.hash='#routes/roundtrip'">Same as Start</button>
    <div id="locationMap"></div>
    <button class="topcoat-button" onclick="window.location.hash='#routes'">Cancel</button>
</div>

