<!--<a class="topcoat-icon-button--quiet showon-map">-->
<!--<i class="fa fa-map-marker fa-2x"></i>-->
<!--</a>-->

<!--<a class="home-action-button topcoat-icon-button--quiet route-there"><i-->
<!--class="fa fa-road fa-2x"></i></a>-->


<a class="topcoat-icon-button--quiet toggle-waypoint">
    <i class="fa fa-2x
                        {{#if this.waypoint}}
                        fa-check-square
                        {{else}}
                        fa-square-o
                        {{/if}}
            waypoint-marker"></i>
</a>
