<div id="routes-mapplanning">
    <div id="routemap"></div>
    <div id="routemap-buttons" class="menu">
        <button class="topcoat-button" onclick="window.location.hash='#routes'">Cancel</button>
        <button id="route-calculation" class="topcoat-button">Calculate</button>
    </div>
</div>

