<div id="routes-mapplanning" class="menu">

    <h2>Waiting for position</h2>
    <i class="fa fa-spinner fa-spin"></i>

    <div id="errorMsg"></div>
    <!--<button class="topcoat-button" onclick="window.location.hash='#routes'">Cancel</button>-->
</div>

