<div id="info" class="scroll-wrapper">
    <div class="scroll-content">
        <button id="info-about-button" class=" topcoat-button" onclick="window.location.hash='info/menu/about'">About
        </button>
        <!--<button id="info-instructions-button" class=" topcoat-button" onclick="window.location.hash='#info/instructions'">Instructions</button>-->
        <button id="info-cheatsheet-button" class="topcoat-button"
                onclick="window.location.hash='info/menu/instructions'">
            Instructions
        </button>
        <button id="info-help-button" class=" topcoat-button" onclick="window.location.hash='info/help'">Help</button>
        <button id="info-feedback-button" class=" topcoat-button" onclick="window.location.hash='#info/menu/feedback'">
            Feedback
        </button>
        <button id="info-privacy-button" class=" topcoat-button" onclick="window.location.hash='#info/menu/privacy'">
            Privacy
            Policy
        </button>
        <!--<button id="info-privacy-button" class=" topcoat-button" onclick="window.location.hash='#settings'"><i-->
        <!--class= "fa fa-cogs"></i> Settings-->
        <!--</button>        -->
        <button id="info-back-button" class="topcoat-button" onclick="window.history.back()">Back</button>

    </div>
</div>
