<div id="instructions" class="scroll-wrapper">
    <div class="scroll-content">
        <table>
            <tr>
                <td>
                    <i class="fa fa-home"></i>
                </td>
                <td>
                    Tap on a house in list or map view to see details about it, and tap on a retrofitting measure to
                    learn
                    more about it.
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-qrcode"></i>
                </td>
                <td>
                    Scan QR codes about features in houses; a personalised report will be produced and emailed to you
                    about
                    a week later.
                </td>
            </tr>
            <tr>
                <td>
                    ALL
                </td>
                <td>
                    See all houses in either list or map view
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-star"></i><i class="fa fa-star-empty"></i>
                </td>
                <td>
                    <p>
                        • To mark a house as a favourite, tap on the star icon in house view; a black star indicates the
                        house has been added to the Favourites list. Tap on a black star to remove the house from the
                        list.
                    </p>

                    <p>
                        • Tapping the star icon in the lower navigation bar will show your favourite houses.
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <i class="fa fa-remove"></i>
                </td>
                <td>
                    Remove a house from your favourites list
                </td>
            </tr>

            <tr>
                <td>
                    <i class="fa fa-filter"></i>
                </td>
                <td>
                    <p>
                        Select “Edit Filter” from the upper navigation bar to choose the filter criteria; if you choose
                        several retrofit measures, it will display houses with at least one of them.


                    </p>

                    <p>
                        Select the filter in the lower navigation bar to view your filtered houses in list or map view.
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <i class="fa fa-location-arrow"></i>
                </td>
                <td>
                    Switch to map view
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-list"></i>
                </td>
                <td>
                    Switch to list view

                </td>
            </tr>

            <tr>
                <td>
                    <i class="fa fa-map-marker"></i>
                </td>
                <td>
                    Centre map on a particular house

                </td>
            </tr>


            <tr>
                <td>
                    <i class="fa fa-envelope-alt"></i>
                </td>


                <td>
                    Send a contact message to a householder. Your email address will not be revealed to the recipient.
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa fa-file"></i>
                    <i class="fa fa-file-alt"></i>
                </td>
                <td>
                    Write a note about a house; a filled note icon indicates a note has been saved – tap to open and
                    view or
                    edit. Notes will be added to your personalised report.

                </td>
            </tr>


        </table>
        <button id="info-back-button" class="topcoat-button" onclick="window.history.back()">Back</button>
    </div>
</div>