<div id="days-filter" class="topcoat-button-bar">
    <div class="topcoat-button-bar__item">
        <button class="days-filter topcoat-button-bar__button" data-day="1">Saturday</button>
    </div>
    <div class="topcoat-button-bar__item">
        <button class="days-filter topcoat-button-bar__button" data-day="2">Sunday</button>
    </div>
    <div class="topcoat-button-bar__item">
        <button class="days-filter topcoat-button-bar__button" data-day="3">Both</button>
    </div>

</div>